@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans-B';
  src: url('../fonts/opensansbold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans-I';
  src: url('../fonts/opensansitalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans-L';
  src: url('../fonts/opensanslight.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans-LI';
  src: url('../fonts/opensanslightitalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans-SB';
  src: url('../fonts/opensanssemibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans-SBI';
  src: url('../fonts/opensanssemibolditalic.ttf') format('truetype');
}
body {
	font-family: "Open Sans", "Tahoma", "Arial", sans-serif;
}
a{
	color: #318720;
}
li{
  color: #b2270c;
}
.pageheader {
    padding: 2rem 15px;
    margin-bottom: 1.5rem;
    color: #fff;
    text-align: center;
    background-color: #256f16;
}
@media (min-width: 576px) {
.pageheader {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
}
}
.pageheader .container {
    position: relative;
}
.pageheader img{
width: 250px;
}
.pageheader h1{
	font-size: 2rem;
    margin-top: 1.5em;
}
.sidebar p {
	font-size: 1.5rem;
	font-family: "Open Sans-SB" "Tahoma", "Arial", sans-serif;
}
.sidebar li a{
	color: #318720;
  font-size: 1.1rem;
}
.content h1 {
	font-family: "Open Sans-SB" !important;
	font-size: 2rem;
	color: #b2270c;
}
.content h2{
	font-family: "Open Sans-SB" !important;
	font-size: 1.5rem;
}
.content p {
	margin-top: 1.5em;
}
.link{
	text-align: center;
}
.link a{
color: #318720;
font-family: "Open Sans-SBI";
font-size: 1.2rem;

}
li ul li{
  color: #999999;
  font-size: .95rem;
  list-style: none;
}
li ul{
  line-height: 24px;
  padding-left: 25px;
}
.open-sans-r,
.open-sans-sbu,
.open-sans-i,
.open-sans-sb,
.open-sans-s
{
  font-size: 1.4rem;
  margin-bottom: 2rem;
  margin-top: 1em !important;
}
.open-sans-r span,
.open-sans-sbu span,
.open-sans-i span,
.open-sans-sb span,
.open-sans-s span {
  font-size: 1.2rem;
  color: #999999;

}
.open-sans-sbu{
  color: #b2270c;
  text-transform: uppercase;
  font-family: "Open Sans-SB";
}
.open-sans-i{
  font-family: "Open Sans-I";
}
.open-sans-sb {
  font-family: "Open Sans-SB";
}
.open-sans-s {
  font-family: "Open Sans-SB";
  text-transform: uppercase;
}
.green-cube{
  background-color: #256F16;

}
.red-cube{
  background-color: #b2270c;

}
.green-cube p,
.red-cube p,
.black p,
.grey p,
.light-grey p

{
  color: #FFF;
  margin: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}
.black{
  background-color: #000;
  color: #fff;

}
.grey{
  background-color: #333333;
  color: #fff;

}
.light-grey{
  background-color: #888888;
  color: #fff;

}
.our-services__btn-wr {
    text-align: center;
    margin-bottom: 30px;
}
.our-services__btn-wr .btn {
    min-width: 240px;
}
.btn-primary {
    background-color: #256f16;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    padding: 14px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    text-decoration: none;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }
  .btn-primary:hover {
    background-color: #318720;
}
pre {
  background-color: #f7f7f9;
  border-radius: .25rem;
  padding: 1em;
}
pre code{
  color:#bd4147;
  font-size: 90%;

}
.service-table {
        margin: 0 auto;
        text-align: center;
    }
    
    
    .column-one,
    .column-two,
    .column-three,
    .column-four {
        width: 25%;
        border: solid 1px #d9dddd;
        float: left;
        margin-bottom: 20px; 
    }
    .column-one {
        width: 23%;
        text-align: left;

    }
    
    .table-title {
        display: table;
        background-image: linear-gradient(to bottom, #477f52, #19370e), linear-gradient(#256f16, #256f16);
        margin: 0;
        height: 90px;
        width: 100%;
    }
    
    .table-title h1 {
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        color: #FFF;
        display: table-cell;
        vertical-align: middle;
        line-height: 1.4;
    }
    
    h1.no-uppercase {
        text-transform: none;
        text-align: center;
    }
    
    .table-body {
        font-size: 14px;
        color: #888888;
    }
    
    .align-left .table-item p {
        font-family: 'Open Sans-L';
        color: #203a1c;
    }
    
    .table-item {
        height: 110px;
        border-bottom: solid 1px #d9dddd;
        padding: 7px;
    }
    
    .table-item a {
        color: #114d10;
        font-family: "Open Sans-SB";
    }
    
    .table-item.high {
        height: 170px
    }
    
    .table-item.higher {
        height: 200px
    }
    
    .table-item.highest {
        height: 350px;
    }
    
    .table-item:nth-child(even) {
        background-color: #f5f9eb;
        mix-blend-mode: multiply;
    }
    
    .optimal {
        background-color: #f5f9eb;
        mix-blend-mode: multiply;
        box-shadow: 0 0 18.7px 2.3px rgba(55, 55, 55, 0.5);
    }
    
    .optimal-body .table-item {
        color: #666666;
    }
    
    .optimal .table-title {
        background-image: none;
    }
    
    .optimal .table-title p {
        display: block;
        color: #FFF;
        background-image: linear-gradient(to bottom, #e23434, #700f0f 100%), linear-gradient(#f5f9eb, #f5f9eb);
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 13px;
        margin: 0;
    }
    
    .optimal .table-title h1 {
        display: block;
        color: #203a1c;
        margin-top: 8px;
    }
