doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Software Development Company | Minsk, Belarus, Eastern Europe
		link(rel='icon', href='img/favicon.ico')
		// Bootstrap core CSS
		link(href='../css/bootstrap.min.css', rel='stylesheet')
		// Custom styles for this template
		link(href='../css/style.css', rel='stylesheet')
	body
.pageheader
	.container
		img(alt='Software development company Belitsoft', src='../img/logo.png')
		h1 Гайдлайн 
		p.lead
			| Правила оформления веб-страниц для сайта компании Belitsoft
.container
	.row
		.col-12.col-md-3.push-md-9.sidebar
			p Содержание
			ul.menu
				li 
					a(href='') Сетка
				li 
					a(href='') Компоновка страниц
				li 
					a(href='') Шрифтовая схема
				li 
					a(href='') Цветовая схема
				li 
					a(href='') Элементы интерфейса
				li 
					a(href='') Графика
				li 
					a(href='') Фотографии
				li 
					a(href='') Прочее

		.col-12.col-md-9.pull-md-3.content
			h1 Сетка
			h2 Модульная сетка
			p В основе дизайна лежит 12-ти колонная модульная сетка с разделителями в 25 пикселей.
				br 
				| Сетка принимает разную ширину колонки, в зависимости от разрешения монитора.
			img.text-center.img-fluid(alt='site grid', src='../img/grid-1.png')
			h2.mt-3 Межстрочный интервал
			p.mb-4 Рекомендуемый межстрочный интервал - 24px.
			h2.mt-3 Интерлиньяжная сетка
			p Для вертикального выравнивания желательно использовать интерлиньяжную сетку в 10 px. 
				br
				| Такая сетка поможет поддерживать удобный вертикальный ритм на странице.
			img.text-center.img-fluid(alt='site grid', src='../img/grid-2.png')
			

			p.link
				a(href='') Компоновка страниц >



		

				

















		// jQuery first, then Tether, then Bootstrap JS.
		script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
		script(src='js/bootstrap.min.js')

