extends template
block content
	h1 Графика
	h2.mt-3 Фото, иллюстрации
	p На сайте допускается использовать любые подходящие к контенту фото и иллюстрации.
		br
		| Желательно избегать некачественных фотографий маленького разрешения, фото с телефона, слишком темных или светлых картинок.
	img.text-center.img-fluid(alt='graphic', src='../img/graphic-1.png')
	p Предпочтительно использовать флэт-иллюстрации, картинки, связанные с IT-сферой, мокапы мониторов, стоковые изображения.
	img.text-center.img-fluid(alt='graphic', src='../img/graphic-2.png')
	h2.mt-3 Иконки
	p В данный момент на сайте используется иконочный шрифт BelitSoftIcons: 
		code.highlighter-rouge font-family: 'belitSoftIcons';
	p Иконки допустимо окрашивать в черный цвет, зеленый, либо зелено-серые цвета.
	img.text-center.img-fluid(alt='icons', src='../img/icons.png')
	p.link
		a.pr-5(href='elements.html') < Элементы интерфейса

