extends template
block content
	h1 Компоновка страниц
	h2.mt-3 Панель навигации
	p Основное меню находится всегда вверху страницы (sticky-header).
	p Меню отображается по разному в зависимости от разрешения экрана:
		br 
		| - при разрешении экрана более 1000px в ширину, оно представляет собой логотип компании - слева и пункты меню с выпадающими списками справа. Высота основного блока - 80px.
	img.text-center.img-fluid(alt='site grid', src='../img/menu-1.png')
	p 
		|- при прокручивании страницы вниз, логотип упрощается для экономии места.
	img.text-center.img-fluid(alt='site grid', src='../img/menu-3.png')
	p 
		|- при разрешении экрана 1000px и менее, пункты меню сворачиваются под левую кнопку-гамбургер, логотип центрируется, выпадающие списки тоже. Высота основного блока - 50px.
	img.text-center.img-fluid(alt='site grid', src='../img/menu-2.png')
	h2.mt-3 Футер
	p Футер представляет собой панель с копирайтом компании, иконками социальных сетей, ссылок на политику конфиденциальности и контактную форму.
	img.text-center.img-fluid(alt='site grid', src='../img/footer-1.png')

	p.link
		a.pr-5(href='index.html') < Сетка
		a(href='fonts.html') Шрифтовая схема >