doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Software Development Company | Minsk, Belarus, Eastern Europe
		link(rel='icon', href='../img/favicon.ico')
		// Bootstrap core CSS
		link(href='../css/bootstrap.min.css', rel='stylesheet')
		// Custom styles for this template
		link(href='../css/style.css', rel='stylesheet')
	body
.pageheader
	.container
		img(alt='Software development company Belitsoft', src='../img/logo.png')
		h1 Гайдлайн 
		p.lead
			| Правила оформления веб-страниц для сайта компании Belitsoft
.container
	.row
		.col-12.col-md-3.push-md-9.sidebar
			p Содержание
			ul.menu
				li 
					a(href='index.html') Сетка
					ul
						li Модульная сетка
						
						li Межстрочный интервал
						li Интерлиньяжная сетка
				li 
					a(href='pages.html') Компоновка страниц
					ul
						li Панель навигации
						li Футер
						li
				li 
					a(href='fonts.html') Шрифтовая схема
				li 
					a(href='') Цветовая схема
				li 
					a(href='') Элементы интерфейса
				li 
					a(href='') Графика
				li 
					a(href='') Фотографии
				li 
					a(href='') Прочее

		.col-12.col-md-9.pull-md-3.content
			block content



		

				

















		// jQuery first, then Tether, then Bootstrap JS.
		script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
		script(src='js/bootstrap.min.js')

